<div *ngIf="!categoryService.isAllCategoriesLoaded">
  <md-progress-bar
    class="app-progress"
    mode="indeterminate">
  </md-progress-bar>
</div>

<div class="app-content">
  <md-card class="app-input-section">
    <p>Update Categories</p>
    <md-input placeholder="Category" [(ngModel)]="cate.value" #cate></md-input>
    <md-input placeholder="Description" [(ngModel)]="desc.value" #desc></md-input>
    <button md-button (click)="upsertCategory(cate.value, desc.value); cate.value=''; desc.value=''">Submit</button>
    <div *ngIf="!categoryService.isAllCategoriesLoaded">
      <md-spinner></md-spinner>
    </div>
    <div *ngIf="categoryService.isAllCategoriesLoaded">
      <ul>
        <li *ngFor="let category of allCategories">
          <button md-button md-tooltip={{category.description}}>{{category.name}}</button>
          <!--<button class="delete"-->
          <!--(click)="removeMentorSkill(skill); $event.stopPropagation()">x-->
          <!--</button>-->
        </li>
        <!--{{newSkill.value}}-->
      </ul>
    </div>
  </md-card>
  <md-card class="app-input-section">
    <p>Update Skills</p>
    <md-input placeholder="Skill"></md-input>
    <md-input placeholder="Category"></md-input>
    <button md-button>Submit</button>
    <ul>
      <li *ngFor="let skill of this.allSkills">
        <button md-button md-tooltip={{skill.categoryID}}>{{skill.name}}</button>
        <!--<button class="delete"-->
        <!--(click)="removeMentorSkill(skill); $event.stopPropagation()">x-->
        <!--</button>-->
      </li>
      <!--{{newSkill.value}}-->
    </ul>
  </md-card>
</div>

