<md-grid-list cols="2">
  <md-grid-tile>
    <md-card style="height: 60%; width: 60%">
      <md-card-title align="center">
        As a Mentor
      </md-card-title>
      <md-card-content>
        <mentor></mentor>
      </md-card-content>
    </md-card>
  </md-grid-tile>
  <md-grid-tile>
    <md-card style="height: 60%; width: 60%">
      <md-card-title align="center">
        As a Mentee
      </md-card-title>
      <md-card-content>
        <mentee></mentee>
      </md-card-content>
    </md-card>
  </md-grid-tile>
</md-grid-list>
