.md-grid-list {
  flex-grow: 1;
}

.md-grid-title {
  column-span: 1;
  row-span: 1;
}

.app-action {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.app-admin {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  left: 20px;
}
