<div [ngSwitch]="staffService.isStaffLoaded && staffService.allStaffLoaded">
  <div *ngSwitchCase="true">
    <br>I want to learn
    <md-input-container class="full-width">
      <input mdInput
             type="search"
             placeholder="a skill"
             [(ngModel)]="newSkill.value"
             [mdAutocomplete]="auto"
             [formControl]="skillCtrl"
             (keyup.enter)="addMenteeSkill(newSkill.value); newSkill.value=''"
             (blur)="addMenteeSkill(newSkill.value); newSkill.value=''"
             #newSkill>
    </md-input-container>
    <md-autocomplete #auto="mdAutocomplete">
      <md-option *ngFor="let skill of filteredSkills | async" [value]="skill">
        {{skill}}
      </md-option>
    </md-autocomplete>
    <ul>
      <li *ngFor="let skill of getCurrentStaff().menteeSkills"
          [@flyInOut]="newSkill.value">
        <button md-button (click)="retrieveMentors(skill)" style="text-align: left">{{skill}}</button>
        <button class="delete"
                (click)="removeMenteeSkill(skill); $event.stopPropagation()">x
        </button>
      </li>
    </ul>
  </div>
  <div *ngSwitchDefault>
    <md-spinner></md-spinner>
  </div>
</div>
