<br>I want to learn
<md-input-container>
  <input md-input type="search" placeholder="a skill" [(ngModel)]="newSkill.value" #newSkill
         (keyup.enter)="addSkill(newSkill.value); newSkill.value=''"
         (blur)="addSkill(newSkill.value); newSkill.value='' ">
</md-input-container>
<ul>
  <li *ngFor="let skill of currentStaff.menteeSkills">
    <button md-button>{{skill.name}}</button>
    <button class="delete"
            (click)="delete(skill.name); $event.stopPropagation()">x
    </button>
  </li>
  {{newSkill.value}}
</ul>
