<div [ngSwitch]="staffService.isStaffLoaded && staffService.allStaffLoaded">
  <div *ngSwitchCase="true">
    <br>I want to learn
    <md-input-container>
      <input mdInput
             ng2-auto-complete
             type="search"
             placeholder="a skill"
             [(ngModel)]="newSkill.value"
             [source]="skillService.allSkillsName"
             #newSkill>
    </md-input-container>
    <button md-mini-fab (click)="addMenteeSkill(newSkill.value); newSkill.value=''">
      <md-icon>add</md-icon>
    </button>
    <ul>
      <li *ngFor="let skill of getCurrentStaff().menteeSkills"
          [@flyInOut]="newSkill.value">
        <button md-button (click)="retrieveMentors(skill)" style="text-align: left">{{skill}}</button>
        <button class="delete"
                (click)="removeMenteeSkill(skill); $event.stopPropagation()">x
        </button>
      </li>
    </ul>
  </div>
  <div *ngSwitchDefault>
    <md-spinner></md-spinner>
  </div>
</div>
