<br>I can teach
<md-input-container>
  <input md-input
         ng2-auto-complete
         type="search"
         placeholder="a skill"
         [(ngModel)]="newSkill.value"
         [source]="skillService.allSkillsName"
         (keyup.enter)="addMentorSkill(newSkill.value); newSkill.value=''"
         (blur)="addMentorSkill(newSkill.value); newSkill.value='' "
         #newSkill>
</md-input-container>
<div *ngIf="staffService.isStaffLoaded">
<ul>
  <li *ngFor="let skill of getCurrentStaff().mentorSkills">
    <button md-button (click)="openDialog()" style="text-align: left">{{skill}}</button>
    <button class="delete"
            (click)="delete(skill); $event.stopPropagation()">x
    </button>
  </li>
  {{newSkill.value}}
</ul>
</div>
<div *ngIf="!staffService.isStaffLoaded">
  <md-spinner></md-spinner>
</div>
