<br>I can teach
<md-input-container>
  <input md-input
         ng2-auto-complete
         type="search"
         placeholder="a skill"
         [(ngModel)]="newSkill.value"
         [source]="skillService.allSkillsName"
         #newSkill>
</md-input-container>
<button md-mini-fab (click)="addMentorSkill(newSkill.value); newSkill.value=''"><md-icon>add</md-icon></button>
<div *ngIf="staffService.isStaffLoaded">
<ul>
  <li *ngFor="let skill of getCurrentStaff().mentorSkills">
    <button md-button (click)="retrieveMentees(skill)" style="text-align: left">{{skill}}</button>
    <button class="delete"
            (click)="removeMentorSkill(skill); $event.stopPropagation()">x
    </button>
  </li>
  {{newSkill.value}}
</ul>
</div>
<div *ngIf="!staffService.isStaffLoaded">
  <md-spinner></md-spinner>
</div>
