<br>I can teach
<md-input-container>
  <input md-input type="search" placeholder="a skill" [(ngModel)]="newSkill.value" #newSkill
         (keyup.enter)="addMentorSkill(newSkill.value); newSkill.value=''"
         (blur)="addMentorSkill(newSkill.value); newSkill.value='' ">
</md-input-container>
<ul>
  <li *ngFor="let skill of mentorSkills">
    <button md-button (click)="openDialog()">{{skill.name}}</button>
    <button class="delete"
            (click)="delete(skill.name); $event.stopPropagation()">x
    </button>
  </li>
  {{newSkill.value}}
</ul>
